body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.mainContainer{
  background-color: rgb(255, 127, 234);
}

.Success{
  background-color: beige;
}

#username{
  background-color: blueviolet;
}
#userLabel{
  font-size: 24px;
}